.simple-bar-chart {
    max-width: 1030px;
    background-color: #ffffff;
    margin-left: 15px;
    border-radius: 10px;
}

.simple-line-chart {
    max-width: 1030px;
    background-color: #ffffff;
    margin-left: 15px;
    border-radius: 10px;
}